<div>
    <h1>Sign up</h1>
    <form id="register">
        <label>First Name</label>
        <input name="first_name">
        <label>Last Name</label>
        <input name="last_name">
        <label>Email</label>
        <input name="email" placeholder="example123@gmail.com">
        <label>Age</label>
        <input name="age">
        <label>Password</label>
        <input type="password" name="pass">
        <input type="submit">

    </form>
    <p>If you already have an account, login <a href="/login">here!</a></p>
</div>
<script src="/js/register.js"></script>